img {
     width: 300px;
}

header {
    background-color: black;
    color: aqua;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 
}

main {
    background-color:  #ffffff;
    color:#183c63;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

.artigo-autor {
  font-weight: bold;     /* espessura da font - negrito */
}

    .article {
        display: flex;  /* contâiner flexíl */
    }
